DATABASE_URL=postgresql://user:password@localhost:5432/certicap
NEXTAUTH_SECRET=super-secret-key-change-in-production
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_BASE_URL=http://localhost:3000
SEED_ADMIN_PASSWORD=
